# Manejo estrategico de los datos de Global-Tech Retai
Este proyecto busca aprovechar los datos recolectados por Global-Tech Retail como base para un an√°lisis profundo, con el objetivo de generar recomendaciones estrat√©gicas para la empresa.

Creado por: Edgar Yesid Renter√≠a Rojas  
Julio 2024

# Importamos librerias

In [ ]:
#*! RECUERDEN instalarlos poninendo pip install nombre_del_paquete en la terminal de vscode
import pandas as pd
import numpy as np
import pandas as pd
import sqlite3
#import seaborn as sn  #*!este no lo vamos a usar por ahora
#import matplotlib.pyplot as plt

## Conexion con base de datos y creacion de DF

In [ ]:
# Conectarse al archivo .db
conexion = sqlite3.connect('C:\\Users\\edgar\\OneDrive - Universidad Nacional de Colombia\\Analisis de factos\\My-local-learning-path\\My-learning-path\\Proyecto Python\\Documentos\\clientes.db')

# Consultar las tabla
consultar = 'SELECT * from sqlite_master'

print("üóÇÔ∏è Consulta de sqlite_master:", pd.read_sql_query(consultar, conexion),'\f \f')

# Leer y asignar una tabla espec√≠fica
clientes_df = pd.read_sql_query("SELECT * FROM clientes;", conexion)

#? ahora ponemos usar comandos de pandas para manipular data como:
#? 
conexion.close()

#! LEEMOS LOS CSV QUE NECESITAMOS PARA EL PROYECTO
productos_df = pd.read_csv('C:\\Users\\edgar\\OneDrive - Universidad Nacional de Colombia\\Analisis de factos\\My-local-learning-path\\My-learning-path\\Proyecto Python\\Documentos\\productos.csv')

ventas_df = pd.read_csv('C:\\Users\\edgar\\OneDrive - Universidad Nacional de Colombia\\Analisis de factos\\My-local-learning-path\\My-learning-path\\Proyecto Python\\Documentos\\ventas.csv')

## visualizacion basica

In [23]:
print("\nüì¶ DATOS DE PRODUCTOS\n")

# üß≠ Muestra la cabecera y los primeros 10 datos del DataFrame
print("üîπ Cabecera y primeros 10 registros:\n")
print(productos_df.head(10), "\n")

# üìä Muestra un resumen estad√≠stico del DataFrame
print("üîπ Resumen estad√≠stico de productos:\n")
print(productos_df.describe(include='all'), "\n")

# ‚ÑπÔ∏è Muestra informaci√≥n general del DataFrame
print("üîπ Informaci√≥n del DataFrame productos:\n")
productos_df.info()
print("\n")

üì¶ DATOS DE PRODUCTOS

üîπ Cabecera y primeros 10 registros:

   ID_Producto        Nombre_Producto Categoria  Costo_Unitario
0          101    Laptop ProBook G9     Laptops          911.54
1          102    Laptop ThinkPad T14   Laptops          989.18
2          103        MacBook Pro 14"   Laptops             NaN
3          104            Dell XPS 13   Laptops          559.07
4          105      Asus ZenBook 14     Laptops         1047.54
5          106         Lenovo IdeaPad   Laptops          672.20
6          107            HP Pavilion   Laptops          477.37
7          108          Acer Aspire 5   Laptops          828.98
8          109       Surface Laptop 4   Laptops          894.82
9          110         MSI Creator 15   Laptops          582.32

üîπ Resumen estad√≠stico de productos:

        ID_Producto  Nombre_Producto Categoria  Costo_Unitario
count     71.000000               71        71       66.000000
unique          NaN               63         6             NaN
top             NaN  MacBook Pro 14"   Laptops             NaN
freq            NaN                2        14             NaN
mean     132.380282              NaN       NaN      376.032727
std       18.865211              NaN       NaN      259.069787
min      101.000000              NaN       NaN       24.790000
25%      116.500000              NaN       NaN      192.517500
50%      132.000000              NaN       NaN      296.340000
75%      149.500000              NaN       NaN      546.605000
max      163.000000              NaN       NaN     1047.540000

üîπ Informaci√≥n del DataFrame productos:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Producto      71 non-null     int64
 1   Nombre_Producto  71 non-null     object
 2   Categoria        71 non-null     object
 3   Costo_Unitario   66 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.3+ KB

## üì¶ Conclusiones de Productos

Tras explorar el dataframe de productos, podemos concluir lo siguiente:

- üî¢ Se manejan **71 productos distintos**.
- üíª El producto que m√°s se vendi√≥ fue el **MacBook Pro 14"**.
- üè∑Ô∏è La categor√≠a m√°s vendida fue **Laptop**.

In [22]:
print("\nüóÇÔ∏è DATOS DE CLIENTES\n")

# üß≠ Muestra la cabecera y los primeros 5 datos del DataFrame
print("üîπ Cabecera y primeros 5 Datos de clientes:\n")
print(clientes_df.head(5), "\n")

# üìä Muestra un resumen estad√≠stico del DataFrame
print("üîπ Resumen estad√≠stico de productos:\n")
print(clientes_df.describe(include='all'), "\n")

# ‚ÑπÔ∏è Muestra informaci√≥n general del DataFrame
print("üîπ Informaci√≥n del DataFrame productos:\n")
clientes_df.info()
print("\n")
print(f" Primeros 20 Datos de clientes:", clientes_df.head(20),'\n \n')
print

üóÇÔ∏è DATOS DE CLIENTES

üîπ Cabecera y primeros 5 Datos de clientes:

   ID_Cliente       Ciudad       Pais Fuente_Marketing
0           1     Chiclayo       Peru    Telemarketing
1           2    Rosario    Argentina  Email Marketing
2           3     La Plata  Argentina  Email Marketing
3           4     Rancagua      Chile         Referido
4           5      Dur√°n      Ecuador          YouTube

üîπ Resumen estad√≠stico de productos:

        ID_Cliente    Ciudad    Pais Fuente_Marketing
count    825.00000       825     811              805
unique         NaN       128      16               23
top            NaN  Valencia  Mexico      Influencers
freq           NaN        22     124               75
mean     413.00000       NaN     NaN              NaN
std      238.30128       NaN     NaN              NaN
min        1.00000       NaN     NaN              NaN
25%      207.00000       NaN     NaN              NaN
50%      413.00000       NaN     NaN              NaN
75%      619.00000       NaN     NaN              NaN
max      825.00000       NaN     NaN              NaN

üîπ Informaci√≥n del DataFrame productos:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Cliente        825 non-null    int64
 1   Ciudad            825 non-null    object
 2   Pais              811 non-null    object
 3   Fuente_Marketing  805 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.9+ KB


 Primeros 20 Datos de clientes:     ID_Cliente          Ciudad       Pais   Fuente_Marketing
0            1        Chiclayo       Peru      Telemarketing
1            2       Rosario    Argentina    Email Marketing
2            3        La Plata  Argentina    Email Marketing
3            4        Rancagua      Chile           Referido
4            5         Dur√°n      Ecuador            YouTube
5            6        Medell√≠n   Colombia  WhatsApp Business
6            7        Santiago      Chile            Eventos
7            8           Quito    Ecuador      Telemarketing
8            9         Iquitos       Peru            Eventos
9           10       La Serena      Chile            YouTube
10          11        Santa Fe  Argentina            Eventos
11          12    Valpara√≠so        Chile           Referido
12          13           Salta  Argentina        Influencers
13          14         Rosario  Argentina            Eventos
14          15           Cusco       Peru  WhatsApp Business
15          16        Valencia  Venezuela           Referido
16          17        La Plata  Argentina           TV/Radio
17          18          Cuenca    Ecuador               None
18          19   Santo Domingo    Ecuador     Redes Sociales
19          20        Santa Fe  Argentina           Referido