# Manejo estrategico de los datos de Global-Tech Retai
Este proyecto busca aprovechar los datos recolectados por Global-Tech Retail como base para un an√°lisis profundo, con el objetivo de generar recomendaciones estrat√©gicas para la empresa.

Creado por: Edgar Yesid Renter√≠a Rojas  
Julio 2024

# Importamos librerias

In [8]:
#*! RECUERDEN instalarlos poninendo pip install nombre_del_paquete en la terminal de vscode
import pandas as pd
import numpy as np
import pandas as pd
import sqlite3
#import seaborn as sn  #*!este no lo vamos a usar por ahora
#import matplotlib.pyplot as plt

## Conexion con base de datos y creacion de DF

In [9]:
# Conectarse al archivo .db
conexion = sqlite3.connect('C:\\Users\\edgar\\OneDrive - Universidad Nacional de Colombia\\Analisis de factos\\My-local-learning-path\\My-learning-path\\Proyecto Python\\Documentos\\clientes.db')

# Consultar las tabla
consultar = 'SELECT * from sqlite_master'

print("üóÇÔ∏è Consulta de sqlite_master:", pd.read_sql_query(consultar, conexion),'\f \f')

# Leer y asignar una tabla espec√≠fica
clientes_df = pd.read_sql_query("SELECT * FROM clientes;", conexion)

#? ahora ponemos usar comandos de pandas para manipular data como:
#? 
conexion.close()

#! LEEMOS LOS CSV QUE NECESITAMOS PARA EL PROYECTO
productos_df = pd.read_csv('C:\\Users\\edgar\\OneDrive - Universidad Nacional de Colombia\\Analisis de factos\\My-local-learning-path\\My-learning-path\\Proyecto Python\\Documentos\\productos.csv')

ventas_df = pd.read_csv('C:\\Users\\edgar\\OneDrive - Universidad Nacional de Colombia\\Analisis de factos\\My-local-learning-path\\My-learning-path\\Proyecto Python\\Documentos\\ventas.csv')

üóÇÔ∏è Consulta de sqlite_master:     type      name  tbl_name  rootpage  \
0  table  clientes  clientes         2

                                                 sql
0  CREATE TABLE "clientes" (\n"ID_Cliente" INTEGE...

## visualizacion basica

In [10]:
print("DATOS DE PRODUCTOS",'\f \f')
#? MUESTRA LOS PRIMEROS 10 DATOS DEL DATAFRAME
print('MUESTRA LA CABECERA Y LOS PRIMEROS 10 DATOS DEL PRODUCTOS','\f',productos_df.head(11),'\f \f')
#? MUESTRA UN RESUMEN ESTADISTICO DEL DATAFRAME
print('MUESTRA UN RESUMEN ESTADISTICO DEL PRODUCTOS','\f',productos_df.describe(include='all'),'\f \f')
#? MUESTRA INFORMACION DEL DATAFRAME
print('MUESTRA INFORMACION DEL PRODUCTOS','\f',productos_df.info(),'\f \f')    
print("üóÇÔ∏è Datos de clientes:", clientes_df.head(20),'\f \f')

DATOS DE PRODUCTOS
MUESTRA LA CABECERA Y LOS PRIMEROS 10 DATOS DEL PRODUCTOS      ID_Producto        Nombre_Producto Categoria  Costo_Unitario
0           101    Laptop ProBook G9     Laptops          911.54
1           102    Laptop ThinkPad T14   Laptops          989.18
2           103        MacBook Pro 14"   Laptops             NaN
3           104            Dell XPS 13   Laptops          559.07
4           105      Asus ZenBook 14     Laptops         1047.54
5           106         Lenovo IdeaPad   Laptops          672.20
6           107            HP Pavilion   Laptops          477.37
7           108          Acer Aspire 5   Laptops          828.98
8           109       Surface Laptop 4   Laptops          894.82
9           110         MSI Creator 15   Laptops          582.32
10          111         Razer Blade 15   Laptops          622.38
MUESTRA UN RESUMEN ESTADISTICO DEL PRODUCTOS          ID_Producto  Nombre_Producto Categoria  Costo_Unitario
count     71.000000               71        71       66.000000
unique          NaN               63         6             NaN
top             NaN  MacBook Pro 14"   Laptops             NaN
freq            NaN                2        14             NaN
mean     132.380282              NaN       NaN      376.032727
std       18.865211              NaN       NaN      259.069787
min      101.000000              NaN       NaN       24.790000
25%      116.500000              NaN       NaN      192.517500
50%      132.000000              NaN       NaN      296.340000
75%      149.500000              NaN       NaN      546.605000
max      163.000000              NaN       NaN     1047.540000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Producto      71 non-null     int64
 1   Nombre_Producto  71 non-null     object
 2   Categoria        71 non-null     object
 3   Costo_Unitario   66 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.3+ KB
MUESTRA INFORMACION DEL PRODUCTOS  None
üóÇÔ∏è Datos de clientes:     ID_Cliente          Ciudad       Pais   Fuente_Marketing
0            1        Chiclayo       Peru      Telemarketing
1            2       Rosario    Argentina    Email Marketing
2            3        La Plata  Argentina    Email Marketing
3            4        Rancagua      Chile           Referido
4            5         Dur√°n      Ecuador            YouTube
5            6        Medell√≠n   Colombia  WhatsApp Business
6            7        Santiago      Chile            Eventos
7            8           Quito    Ecuador      Telemarketing
8            9         Iquitos       Peru            Eventos
9           10       La Serena      Chile            YouTube
10          11        Santa Fe  Argentina            Eventos
11          12    Valpara√≠so        Chile           Referido
12          13           Salta  Argentina        Influencers
13          14         Rosario  Argentina            Eventos
14          15           Cusco       Peru  WhatsApp Business
15          16        Valencia  Venezuela           Referido
16          17        La Plata  Argentina           TV/Radio
17          18          Cuenca    Ecuador               None
18          19   Santo Domingo    Ecuador     Redes Sociales
19          20        Santa Fe  Argentina           Referido